table thead tr th,.center{text-align: center;}
.left{text-align: left !important;}
.modal-m {width: 500px;}
.page-title {width: 100%;height: 30px;padding: 5px 0;font-size: 12pt;margin-bottom: 20px;}
.shop-name{font-weight: 600;font-size: 15pt;position: absolute;margin-top: 15px;margin-left: 61px;}
.right{text-align: right !important;}
